<footer id="main-footer" class=" footer   text-white">
        <div class="container">
          <div class="row">
            <div class="col-md-4 mr-auto">
              <p class="lead">
                    <h6>OUR LOCATION</h6>
                    396 Broome St New York, 10013
                    
                    <h6 class="mt-3">CONTACT INFORMATION</h6>
                    Phone: (212)966-6069
                    <br>
                    Email: info@nextlevelbarber.com 
                
              </p>
            </div>
            <div class="col-md-4 mr-auto">
              <p class="lead">
                    <h6>WORKING HOURS</h6>
                    Mon – Thurs: 10:00 AM – 7:00 PM
                    <br>
                    Friday: 10:00 AM – 4:00 PM
                    <br>
                    Saturday: Closed
                    <br>
                    Sunday: 10:30 AM – 6:00 PM
                
              </p>
            </div>
            <div class="col-md-4 mr-auto">
              <p class="lead">
                    <h6>WE ACCEPT CREDIT CARDS</h6>
                    <img src="../images/cards.png" height="40" width="220" alt="card" class="img-fluid">
                
              </p>
            </div>
          </div>
        </div>
</footer>
    

    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
    <script src="/javascripts/scripts.js"></script>
    <script>
    //Lightbox
    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });
    </script>
</body>
</html>